<div class="container">
  <h2>質問一覧</h2>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont, '検索ワード' %>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索", disable_with: 'Submiting...' %>
  <% end %>

  <%= link_to  "全て", questions_path %>
  <%= link_to  "解決済み", solved_questions_path %>
  <%= link_to  "未解決", unsolved_questions_path %>

  <div>
    <li><%= render @question%></li>
  </div>

</div>