<h1>質問新規作成画面</h1>
<%= form_with model: @question, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, "質問タイトル", class:"form-label" %>
    <%= f.text_field :title %>
  </div>
  <div class="mb-3">
    <%= f.label :body, "本文", class:"form-label" %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Submit", disable_with: 'Submiting...' %>
<% end %>